<h1 class="animated fadeIn fast">Buscador <small>{{termino}} </small></h1>

<div class="row animated fadeIn low" *ngIf="heroes.length == 0">
<div class="col-md-12">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>No se encotro el Heroe con termino "{{termino}}"</strong> 
  </div>
  
  <script>
    $(".alert").alert();
  </script>
</div>
</div>


  <div class="card-columns">
    <app-heroe-tarjeta [heroe]='heroe' [index]='i' *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
  </div>
